 *{
    margin: 0;
    padding: 0;
 }

body{
    background-color: rgb(154, 158, 158);
}
.main{
    font-size: 25px; 
    font-family: 'Courier New', Courier, monospace;
    margin: 5px 27px;
    font-weight: bold;
}

h2, p {
    font-size: 23px;
    text-align: center;
    margin-top: 25px;
}

strong {
    color: red;
}

#banner {
    width:100%;
}
.barb {
    background-color: rgb(154, 158, 158);
    padding:30px;
}

h3 {
    font-size: 23px;
    text-align: center;
}

ul {
    display:inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
    font-size: 20px;
}

img {
    width: 50%;
}